<%- include("partials/header") %>
    <nav class="navbar navbar-expand-lg navbar-light underline">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Smalls Instrumentals</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/upload/logout" class="form-inline">
                <button type="button" class="btn btn-primary btn-block">Log out</button>
            </a>
        </div>
    </nav>

    <div class="container containerSize2">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="row margin">
                <div class="col-7">
                    <input style="background-color: black;" class="form-control" type="text" name="producer" placeholder="Producer">
                </div>
                <div class="col-5">
                    <input style="background-color: black;" class="form-control" type="text" name="beat" placeholder="Beat">
                </div>
            </div>
            <div class="row margin">
                <div class="col-8">
                    <input style="background-color: black;" class="form-control" type="text" name="album" placeholder="Album">
                </div>
                <div class="col-4">
                    <input style="background-color: black;" class="form-control" type="text" name="bpm" placeholder="BPM">
                </div>
            </div>
            <div class="row margin">
                <div class="col">
                    <label class="form-label" for="beatfile">Select a beat:</label>
                    <input style="background-color: black;" class="form-control" type="file" id="beatfile" name="beatfile" accept="audio/*">
                </div>
            </div>
            <div class="row margin">
                <div class="col">
                    <label class="form-label" for="imagefile">Select an image:</label>
                    <input style="background-color: black;" class="form-control" type="file" id="imagefile" name="imagefile" accept="image/*">
                </div>
            </div>
            <div class="row margin">
                <div class="col">
                    <input style="background-color: black;" class="form-control" type="text" name="recordlabel" placeholder="Record Label">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <button class="col-12 btn btn-primary btn-block" type="submit">Upload</button>
                </div>
            </div>
        </form>
    </div>
<%- include("partials/footer") %> 