<%- include("partials/header") %>
    <nav class="navbar navbar-expand-xxl navbar-dark underline">
        <div class="container-fluid">
            <a class="navbar-brand navbarWhite" href="#">SireSmalls</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/songManagement">Song Management</a>
                    </li>
                    <li class="nav-item">
                        <a href="/upload/logout" class="nav-link form-inline">
                            <button type="button" class="btn btn-primary btn-block btn-sm">Log out</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container containerSize2">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="row margin">
                <div class="col-7">
                    <input style="background-color: black; color: white;" class="form-control" type="text" name="producer" placeholder="Producer">
                </div>
                <div class="col-5">
                    <input style="background-color: black; color: white;" class="form-control" type="text" name="beat" placeholder="Beat">
                </div>
            </div>
            <div class="row margin">
                <div class="col-8">
                    <input style="background-color: black; color: white;" class="form-control" type="text" name="album" placeholder="Album">
                </div>
                <div class="col-4">
                    <input style="background-color: black; color: white;" class="form-control" type="text" name="bpm" placeholder="BPM">
                </div>
            </div>
            <div class="row margin">
                <div class="col">
                    <label class="form-label" for="beatfile">Select a beat:</label>
                    <input style="background-color: black; color: white;" class="form-control" type="file" id="beatfile" name="beatfile" accept="audio/*">
                </div>
            </div>
            <div class="row margin">
                <div class="col">
                    <label class="form-label" for="imagefile">Select an image:</label>
                    <input style="background-color: black; color: white;" class="form-control" type="file" id="imagefile" name="imagefile" accept="image/*">
                </div>
            </div>
            <div class="row margin">
                <div class="col">
                    <input style="background-color: black; color: white;" class="form-control" type="text" name="recordlabel" placeholder="Record Label">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <button class="col-12 btn btn-primary btn-block" type="submit">Upload</button>
                </div>
            </div>
        </form>
    </div>
<%- include("partials/footer") %> 